div#pie {
display:none;
}
div#content {

}
div#main {
  width: 820px;
  
  margin-top: 5px;
  margin-left: auto ;
  margin-right: auto ;
  padding: 70px;
  background-color: white;
  border-radius:10px;
  -moz-border-radius: 0px;
  box-shadow: 0px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px rgba(0,0,0,0.3);
}